---
import { GithubIcon, MonitorIcon } from 'astro-feather';
export interface Props {
  title?: string;
  description: string;
  repoUrl?: string;
  siteUrl?: string;
  techStack?: Array<string>;
  newProject?: string;
  projectImage?: string;
}

const { title, description, repoUrl, siteUrl, techStack, newProject, projectImage } = Astro.props;
---

<div class="card w-11/12 border-2 border-amber-400 bg-base-200 p-4 shadow-xl lg:card-side">
  {
    projectImage && (
      <figure class="px-4">
        <img
          src={projectImage}
          alt={`${title}-pic`}
          loading="lazy"
          decoding="async"
          style="height: 100%; width: 100%; object-fit: cover;"
        />
      </figure>
    )
  }
  <div class="card-body">
    <h2 class="card-title text-2xl">
      {title}
      {newProject?.length && <div class="badge badge-primary">{newProject}</div>}
    </h2>
    <p class="text-lg">{description}</p>
    <div class="card-actions flex flex-col justify-evenly">
      <div>
        {
          techStack?.map(tech => {
            return <div class="text-md badge badge-outline mr-1 p-4 lg:text-lg">{tech}</div>;
          })
        }
      </div>
      <div class="mt-4 flex flex-row gap-2">
        {
          repoUrl && (
            <a href={repoUrl} target="_blank">
              <button class="btn glass btn-outline text-xl">
                View
                <GithubIcon />
              </button>
            </a>
          )
        }
        {
          siteUrl && (
            <a href={siteUrl} target="_blank">
              <button class="btn glass btn-outline text-xl">
                View
                <MonitorIcon />
              </button>
            </a>
          )
        }
      </div>
    </div>
  </div>
</div>
