---
import { Link2Icon } from 'astro-feather';
export interface Props {
  title?: string;
  description: string;
  projectUrl?: string;
  techStack?: Array<string>;
  newProject?: string;
  projectImage?: string;
}

const { title, description, projectUrl, techStack, newProject, projectImage } = Astro.props;
---

<div class="card bg-base-200 p-4 shadow-xl lg:card-side">
  {
    projectImage && (
      <figure class="px-4">
        <img src={projectImage} alt={`${title}-pic`} width="270px" />
      </figure>
    )
  }
  <div class="card-body">
    <h2 class="card-title">
      {title}
      {newProject?.length && <div class="badge badge-primary">{newProject}</div>}
    </h2>
    <p>{description}</p>
    <div class="card-actions flex flex-col justify-evenly">
      <div>
        {
          techStack?.map(tech => {
            return <div class="badge badge-outline mr-1">{tech}</div>;
          })
        }
      </div>
      <a href={projectUrl} target="_blank">
        <button class="btn glass btn-outline">
          <Link2Icon />
          View
        </button>
      </a>
    </div>
  </div>
</div>
