---
import { render } from 'astro:content';
import Layout from 'layouts/Layout.astro';

import Breadcrumbs from 'components/Breadcrumbs.astro';
import Footer from 'components/common/Footer.astro';
import Header from 'components/common/Header.astro';
import DateTime from 'components/DateTime.astro';
import Tags from 'components/Tags.astro';
const { post } = Astro.props;

const { title, tags, pubDate } = post.data;

const tagList = tags?.length > 0 ? tags[0].split(',') : [];
const { Content, remarkPluginFrontmatter } = await render(post);
---

<Layout title={title}>
  <Header />
  <div class="px-4">
    <Breadcrumbs />
    <h1 class="text-3xl text-slate-200">{title}</h1>
    <DateTime dateTime={pubDate} readingTime={remarkPluginFrontmatter.minutesRead} />
    <section class="px-2 text-slate-200">
      <article class="article-section mx-auto mt-2">
        <Content />
      </article>
    </section>

    <Tags tags={tagList} />
  </div>
  <Footer />
</Layout>
